<div class="container">
  <div class="grid">
    <a href="#">
      <div class="cultura">
          <div class="cultura-contenido">
            <p>Descubre la esencia</p>
          </div>
      </div>
    </a>
    <a href="./categoria.html">
      <div class="sabores">
        <div class="sabores-contenido">
            <p>Sabores de Japón</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="localizacion">
        <div class="localizacion-contenido">
          <p>Donde nace el sabor</p>
        </div>
      </div>
    </a>
    <a href="./enlaces.html">
      <div class="enlaces">
        <div class="enlaces-contenido">
          <p>Enlaces y derechos</p>
        </div>
      </div>
    </a>
  </div>
</div>