<div class="header">
    <div class="logo">
        <a href="./index.html"> <img src="../assets/images/logo.svg" alt="Sabores de Japón" class="logo-animado"></a> 
    </div>
    <nav class="navigation">
        <ul class="nav-list">
            <li id="tema-mes"><a class="link-header" href="./index.html">Inicio</a></li>
            <li><a class="link-header" href="./categoria.html">Recetas</a></li>
            <li><a class="link-header" href="#">Restaurantes</a></li>
            <li><a class="link-header" href="#">Eventos</a></li>
            <li><a class="link-header" href="./enlaces.html">Información</a></li>
        </ul>
    </nav>
</div>