<div class="footer">
    <img class="img-footer" src="../assets/images/logo.png" alt="Sabores de Japón">
    <p id="p-footer">2025. DANIEL OLIVA GOMEZ</p>
    <div class="socials">
        <a href=""><img class="img-socials" src="../assets/images/instagram.svg" alt="Instagram"></a>
        <a href=""><img class="img-socials" src="../assets/images/youtube.svg" alt="YouTube"></a>
    </div>
    <ul class="politicas">
        <li id="pol-priv"><a class="link-footer" href="">Política de privacidad</a></li>
        <li id="cookies"><a class="link-footer" href="">Política de <i lang="en">cookies</i></a></li>
        <li><a class="link-footer" href="">Aviso legal</a></li>
    </ul>
</div>